name: Cypress CI + Slack

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout your repo
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Setup Node
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm ci

      # Step 4: Run Cypress tests
      - name: Run Cypress tests
  	run: npx cypress run --spec "cypress/e2e/taxapp.cy.js"

      # Step 5: Generate Mochawesome report
      - name: Generate Mochawesome report
        run: |
          npx mochawesome-merge cypress/reports/*.json > cypress/reports/report.json
          npx marge cypress/reports/report.json --reportDir cypress/reports/html